0 0 * * 3 /home/backup/backup.sh
0 3 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRelatorio'
0 2 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoVisitanteParaConsolidacao'
0 0 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoSolicitacoes'
0 19 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRankingCelula/1_1'
0 19 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRankingCelula/1_2'
0 19 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRankingCelula/1225_1'
0 19 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRankingCelula/1225_2'
0 19 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRankingCelula/0_1'
0 19 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRankingCelula/0_2'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1_1_1'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1_1_2'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1_2_1'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1_2_2'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1225_1_1'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1225_1_2'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1225_2_1'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/1225_2_2'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/0_1_1'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/0_1_2'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/0_2_1'
0 18 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoCelulaDeElite/0_2_2'
0 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoTransformarCelulaBeta'
