0 0 * * 3 /home/backup/backup.sh
0 3 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoRelatorio'
10 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/1'
15 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/2'
20 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/3'
25 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/4'
30 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/5'
35 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/6'
40 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/7'
45 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/8'
50 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/9'
55 3 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/10'
0 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/11'
5 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/12'
10 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/13'
15 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/14'
20 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/15'
25 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/16'
30 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/17'
35 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/18'
40 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/19'
45 4 * * * /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoFatoMensal/20'
0 0 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoSolicitacoes' 
0 2 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoVisitanteParaConsolidacao' 
0 5 * * 1 /usr/bin/wget - O -q 'https://circuitodavisaonovo.com.br/migracaoTransformarCelulaBeta'
