/**/

.btn-primary-circuito {
    color: #ffffff;
    background-color: #000000;
}

.btn-circuito-loader:focus{
    color: transparent;
    background: url(/img/loader.gif) no-repeat 50% 50%;
}
