/*============================================================
  A. Efeito houver nos perfis de usuario na pagina de browser
============================================================*/
/*  Efeito Hover da classe .panel */

.centralizar-textos span{
    font-size: 1.0em !important;
}

body.sb-l-c.sb-l-m #content_wrapper {
    margin-left: 0 !important;
}

.identificacao_pessoa{
    font-size: 0.75em !important;
}

/*Configurando como tabela o lançamento de dados*/
.table tr td{
    height: 24px;
}

.bordas-tabela-principal{
    border:1px #eee solid !important;
}